<!DOCTYPE html>
<html lang="pt-br" ng-app="adesaoApp">
<head>
	<meta charset="UTF-8">
	<title>Proposta de Filiação</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="core/bower_components/normalize-scss/normalize.css">
	<link rel="stylesheet" media="screen" href="core/style/main.css">
  <link rel="stylesheet" media="print" href="core/style/print.css"/>
<!--	<script src="core/bower_components/modernizr/modernizr.js"></script>-->
<!--	<script src="core/bower_components/json3/lib/json3.min.js"></script>-->
<!--	<script src="core/bower_components/es5-shim/es5-shim.js"></script>-->
</head>
<body ng-controller="AdesaoCtrl">

<header id="mainHeader">
	<h1><i class="logo">Asper</i> Atualização Cadastral 2014</h1>
</header>

<!--
@todo *: Colocar o botão de remover dependente
@todo CSS: Corrigir campo para estilo horizontal no formulário quando em modo desktop;
-->

<!-- Barra de navegação -->
<aside id="mainNav">
	<div class="wrapper">
		<ul id="mainBreadcrumb" class="menu">
			<li ng-class="{active:checkStatus(0), atual: returnStatus(0)}">
					<span>Dados Pessoais</span>
			</li>
			<li ng-class="{active:checkStatus(1), atual: returnStatus(1)}">
					<span>Dependentes/ Agregados</span>
			</li>
			<li ng-class="{active:checkStatus(2), atual: returnStatus(2)}">
					<span>Benefícios</span>
			</li>
			<li ng-class="{active:checkStatus(3), atual: returnStatus(3)}">
					<span>Termos legais</span>
			</li>
			<li ng-class="{active:checkStatus(4), atual: returnStatus(4)}">
					<span>Impressão</span>
			</li>
		</ul>

		<ul id="mainMenu" class="menu">
			<li ng-class="{active:checkStatus(4), atual: returnStatus(4)}">
					<i class="badge badge-circle">5</i>
			</li>
			<li ng-class="{active:checkStatus(3), atual: returnStatus(3)}">
					<i class="badge badge-circle">4</i>
			</li>
			<li ng-class="{active:checkStatus(2), atual: returnStatus(2)}">
					<i class="badge badge-circle">3</i>
			</li>
			<li ng-class="{active:checkStatus(1), atual: returnStatus(1)}">
					<i class="badge badge-circle">2</i>
			</li>
			<li ng-class="{active:checkStatus(0), atual: returnStatus(0)}">
					<i class="badge badge-circle">1</i>
			</li>
		</ul>
	</div>
</aside>
	
<section id="mainPanel">
	
	<!-- Conteúdo Principal -->
	<section id="mainContent" class="wrapper">	
		<article class="panel"
		    ng-show="panel===0">
<!--
			<header>
				<h2>Dados Pessoais</h2>
				<h2>Proposta de filiação de adesão aos contratos coletivos celebraodos entre ASPER e UNIMED Ji-Paraná e Dental Norte Assistência Odontológica</h2>
			</header>
-->

<!--			<p>Na qualidade de Servidor Público no Estado de Rondônia, venho requerer minha filiação à ASPER e propor minha adesão aos contratos coletivos adiante mencionados. Para tanto forneço as informações cadastrais.</p>-->
			
			<!-- formulário de proposta de filiação -->
			<form name="proposta" class="form">
				
				<h3>Informações do titular</h3>

				<!-- Nome #titular_nome -->
				<div class="form-control">
					<label for="titular_nome">Nome (Completo)</label>
					<input id="titular_nome" name="titular_nome" type="text"
					    ng-model="FormDataTitular.titular_nome"
					    required="true">
				</div>
				
				<!-- Data de Nascimento #titular_datanasc -->
				<div class="form-control">
					<label for="titular_datanasc">Data de Nascimento</label>
					<input id="titular_datanasc" name="titular_datanasc" type="date" 
					    ng-model="FormDataTitular.titular_datanasc">
				</div>

				<!-- Sexo #titular_sexo -->
				<div class="form-control">
					<label for="titular_sexo">Sexo</label>
					<select id="titular_sexo" name="titular_sexo" type="text" 
					    ng-model="FormDataTitular.titular_sexo">
						<option value="f">Feminino</option>
						<option value="m">Masculino</option>
					</select>
				</div>

				<!-- Naturalidade #titular_naturalidade -->
				<div class="form-control">
					<label for="titular_naturalidade">Naturalidade</label>
					<input id="titular_naturalidade" name="titular_naturalidade" type="text" maxlength="80" 
					    ng-model="FormDataTitular.titular_naturalidade">
				</div>

				<!-- Situação do titular #titular_situacao -->
				<div class="form-control">
					<label for="titular_situacao">Situação do titular</label>
					<select name="titular_situacao" id="titular_situacao" 
					    ng-model="FormDataTitular.titular_situacao">
						<option value="servidor_ativo">Servidor Ativo</option>
						<option value="aposentado">Aposentado</option>
						<option value="pensionista">Pensionista</option>
					</select>
				</div>

				<!-- Identidade #titular_identidade #titular_identidade_oe-->
				<div class="form-control">
					<label for="titular_identidade">Identidade / Órgão emissor</label>
					<input id="titular_identidade" name="titular_identidade" type="text" placeholder="Somente números" 
					    ng-model="FormDataTitular.titular_identidade"> / 
                    <input id="titular_identidade_oe" name="titular_identidade_oe" type="text" placeholder="SSP RO" 
					    ng-model="FormDataTitular.titular_identidade_oe">
				</div>
				
				<!-- CPF/MF #titular_cpfmf -->
				<div class="form-control">
					<label for="titular_cpfmf">CPF/MF</label>
					<input id="titular_cpfmf" name="titular_cpfmf" type="text" placeholder="Somente números" maxlength="11" 
					    ng-model="FormDataTitular.titular_cpfmf">
				</div>
				
				<!-- PIS/PASEP #titular_pispasep -->
				<div class="form-control">
					<label for="titular_pispasep">PIS/PASEP</label>
					<input id="titular_pispasep" name="titular_pispasep" type="text" placeholder="Somente números" 
					    ng-model="FormDataTitular.titular_pispasep">
				</div>
				
				<!-- Cartão nacional de saúde #titular_cns -->
				<div class="form-control">
					<label for="titular_cns">Cartão nacional de saúde</label>
					<input id="titular_cns" name="titular_cns" type="text" placeholder="Cartão do SUS" 
					    ng-model="FormDataTitular.titular_cns">
				</div>
				
				<!-- Cargo/Função #titular_cargo -->
				<div class="form-control">
					<label for="titular_cargo">Cargo/Função</label>
					<input id="titular_cargo" name="titular_cargo" type="text" 
					ng-model="FormDataTitular.titular_cargo">
				</div>
				
				<!-- Data de adissão #titular_dataadmissao -->
				<div class="form-control">
					<label for="titular_dataadmissao">Data de admissão</label>
					<input id="titular_dataadmissao" name="titular_dataadmissao" type="date" 
					    ng-model="FormDataTitular.titular_dataadmissao">
				</div>
				
				<!-- Secretaria #titular_secretaria -->
				<div class="form-control">
					<label for="titular_secretaria">Secretaria</label>
					<input id="titular_secretaria" name="titular_secretaria" type="text" 
					    ng-model="FormDataTitular.titular_secretaria">
				</div>
				
				<!-- Matrícula #titular_matricula -->
				<div class="form-control">
					<label for="titular_matricula">Matrícula</label>
					<input id="titular_matricula" name="titular_matricula" type="text" 
					    ng-model="FormDataTitular.titular_matricula">
				</div>
				
				<!-- Estado Civil #titular_estadocivil -->
				<div class="form-control">
					<label for="titular_estadocivil">Estado Civil</label>
					<select id="titular_estadocivil" name="titular_estadocivil" type="text" 
					    ng-model="FormDataTitular.titular_estadocivil">
						<option value="solteiro">Solteiro</option>
						<option value="casado">Casado</option>
						<option value="divorciado">Divorciado</option>
					</select>
				</div>
				
				<!-- Endereço residêncial (Logradouro) #titular_end_logradouro -->
				<div class="form-control">
					<label for="titular_end_logradouro">Endereço residêncial</label>
					<input id="titular_end_logradouro" name="titular_end_logradouro" type="text" placeholder="Logradouro" 
					    ng-model="FormDataTitular.titular_end_logradouro">
				</div>
				
				<!-- Número #titular_end_numero -->
				<div class="form-control">
					<label for="titular_end_numero">Número</label>
					<input id="titular_end_numero" name="titular_end_numero" type="text" placeholder="0000" 
					    ng-model="FormDataTitular.titular_end_numero">
				</div>
				
				<!-- Bairro #titular_end_bairro -->
				<div class="form-control">
					<label for="titular_end_bairro">Bairro</label>
					<input id="titular_end_bairro" name="titular_end_bairro" type="text" maxlength="50" 
					    ng-model="FormDataTitular.titular_end_bairro">
				</div>
				
				<!-- Município #titular_end_municipio -->
				<div class="form-control">
					<label for="titular_end_municipio">Município</label>
					<input id="titular_end_municipio" name="titular_end_municipio" type="text" maxlength="50" 
					    ng-model="FormDataTitular.titular_end_municipio">
				</div>
				
				<!-- CEP #titular_end_cep -->
				<div class="form-control">
					<label for="titular_end_cep">CEP</label>
					<input id="titular_end_cep" name="titular_end_cep" type="text" maxlength="8" placeholder="Somente números" 
					    ng-model="FormDataTitular.titular_end_cep">
				</div>
				
				<!-- Telefone do Trabalho #titular_tel_trabalho -->
				<div class="form-control">
					<label for="titular_tel_trabalho">Telefone do Trabalho</label>
					<input id="titular_tel_trabalho" name="titular_tel_trabalho" type="text" maxlength="8" placeholder="Somente números"
					    ng-model="FormDataTitular.titular_tel_trabalho">
				</div>
				
				<!-- Telefone Residêncial #titular_tel_residencia -->
				<div class="form-control">
					<label for="titular_tel_residencia">Telefone Residêncial</label>
					<input id="titular_tel_residencia" name="titular_" type="text" maxlength="8" placeholder="Somente números"
					    ng-model="FormDataTitular.titular_tel_residencia">
				</div>
				
				<!-- Celular #titular_celular -->
				<div class="form-control">
					<label for="titular_celular">Celular</label>
					<input id="titular_celular" name="titular_celular" type="text" maxlength="6" placeholder="Somente números"
					    ng-model="FormDataTitular.titular_celular">
				</div>
				
				<!-- E-mail #titular_email -->
				<div class="form-control">
					<label for="titular_email">E-mail</label>
					<input id="titular_email" name="titular_email" type="email" placeholder="E-mail pessoal" 
					    ng-model="FormDataTitular.titular_email">
				</div>
				
				<h3>Informações bancárias</h3>

				<!-- Banco #titular_banco_nome -->
				<div class="form-control">
					<label for="titular_banco_nome">Banco</label>
					<input id="titular_banco_nome" name="titular_banco_nome" type="text" placeholder="Banco do Brasil, Bradesco, HSBC ..."
					    ng-model="FormDataTitular.titular_banco_nome">
				</div>

				<!-- Agência #titular_banco_agencia -->
				<div class="form-control">
					<label for="titular_banco_agencia">Agência</label>
					<input id="titular_banco_agencia" name="titular_banco_agencia" type="text" placeholder="Não utilize separador. Ex.: 000X1" maxlength="8"
					    ng-model="FormDataTitular.titular_banco_agencia">
				</div>
				
				<!-- Conta corrente #titular_banco_cc -->
				<div class="form-control">
					<label for="titular_banco_cc">Conta corrente</label>
					<input id="titular_banco_cc" name="titular_banco_cc" type="text"  placeholder="Somente números" maxlength="8"
					    ng-model="FormDataTitular.titular_banco_cc">
				</div>

				</form>
		</article>
		
		
		<article class="panel" ng-show="panel===1">
		
			<h3>Associados dependentes e/ou agregados</h3>
				
				<form name="proposta" class="form">

<!--			Lista de agregados -->
					<ol id="listaAgregado"></ol>
           
<!--      Botão de adição de dependente-->
					<button id="btAdicionarDependente" accesskey="a"
						mv-bt-agregado				
						ng-click="adicionarDependente()"
						ng-show="viewAddButton"
						></button>
				</form>
		</article>
		
		
		<article class="panel" ng-show="panel===2">
<!--
			<header>
			    <h2>Benefícios</h2>
				<h2>Termo de adesão de benefícios</h2>
			</header>
-->

<!--			<p>Pelo presente Termo de Adesão, autorizo a inscrição dos associados nos enefícios oferecidos por meio da ASPER, e acordo com o que se segue:</p>-->

			<!-- Formulário de termo de adesão aos benefícios -->
			<form name="proposta" class="form">

				<p>Selecione cada benefício</p>
				
				<table id="tabela_beneficios" class="table">
					<thead>
						<tr>
							<th>Beneficiado</th>
							<th>Plano de Saúde *</th>
							<th>Plano Odontológico</th>
						</tr>
					</thead>
					<tbody>
						<!-- Titular -->	
						<tr>
							<td>{{FormDataTitular.titular_nome}}</td>
							<td><input type="checkbox" name="beneficio_ps_titular"
								ng-model="FormDataBeneficio.titular_ps"></td>
							<td><input type="checkbox" name="beneficio_po_titular"
								ng-model="FormDataBeneficio.titular_po"></td>
						</tr>
						<!-- Agregados -->	
						<tr ng-repeat="agregado in agregados">
							<td>{{agregado.FormDataAgregado.agregado_nome}}</td>
							<td><input type="checkbox"
								ng-model="FormDataBeneficio.agregado_ps[agregado.index]"></td>
							<td><input type="checkbox" 
								ng-model="FormDataBeneficio.agregado_po[agregado.index]"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="3"><strong>* Plano de Assistencia à Saúde - Coletivo</strong></th>
						</tr>
					</tfoot>
				</table>

				<!-- Cartão nacional de saúde #agregado_cns -->
				<div class="form-control">
					<label for="beneficio_obs">Observação</label>
					<textarea name="beneficio_obs" id="beneficio_obs" cols="30" rows="10" placeholder="Gostaria de acrescentar uma observação?"
						ng-model="FormDataBeneficio.obs"></textarea>
				</div>

			</form>
		</article>
		
		<article id="termosLegais" class="panel" ng-show="panel===3">
<!--
		  <header>
				<h2>Termos legais</h2>
			</header>
-->
			<div mv-termos></div>
		</article>
		
		<article id="final" class="panel" ng-show="panel===4">
			<div class="alert">
				<h2>Atenção</h2>
				Apenas o preenhimento deste formulário não efetiva seu recadastramento. 
				O mesmo deve ser impresso em 2 (duas) vias, assinado pelo associado titular e entregue na sua reginal de atendimento juntamente com os demais documentos solicitados.
			</div>
			<div data-mv-relatorio></div>
		</article>
		
		<nav class="panel-nav">
           <ul>
               <li>
                   <button class="btn btn-secnav" accesskey=","
                        ng-show="panel>0"
                        ng-click="voltar()">
                        Voltar
                    </button>
                </li>
               <li> 
                    <button class="btn btn-secnav btn-concordar" 
                        ng-show="panel===4"
                        ng-click="imprimir()"
                        accesskey="i">
                        Imprimir
                    </button>
                    &nbsp;
               </li>
               <li>
                    <button class="btn btn-secnav" accesskey="."
                        ng-show="panel<=2"
                       ng-click="continuar()">
                       Continuar
                    </button>
                    
                    <button class="btn btn-secnav btn-concordar" 
                        ng-show="panel===3"
                        ng-click="concordar()">
                        Concordo
                    </button>
               </li>
           </ul>
        </nav>
        
	</section>
	
</section>

<footer id="mainFooter">
	Desenvolvido por
	<a href="http://mviniciusconsultoria.com.br">MVinicius Consultoria</a> e 
	<a href="#">Akia Pesquisa e Propaganda</a>
</footer>

<section id="printPanel">
    <div class="page page-front">
        <div mv-print-info class="page-content">
        </div>
        <div class="page-background">
            <img src="print/proposta_front.jpg" alt=""/>
        </div>
    </div>
    <div class="page page-back">
        <div mv-termos class="page-content">
        </div>
        <div class="page-background">
            <img src="print/proposta_back.jpg" alt=""/>
        </div>
    </div>
</section>

	<script src="core/bower_components/angular/angular.min.js"></script>
	<script src="core/bower_components/angular-route/angular-route.js"></script>
	<script src="core/bower_components/angular-resource/angular-resource.js"></script>
	<script src="core/bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="core/bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="core/bower_components/angular-animate/angular-animate.js"></script>
	<script src="core/bower_components/angular-i18n/angular-locale_pt-br.js"></script>
	<script src="core/script/app.js"></script>
</body>
</html>   