<!-- Nome do Dependente/Agregado  #agregado_nome -->
<div class="form-control">
    <label for="agregado_nome_{{index}}">Nome do Dependente/Agregado</label>
    <input id="agregado_nome_{{index}}" name="agregado_nome[]" type="text"
        ng-model="FormDataAgregado.agregado_nome">
</div>

<!-- CPF/MF #agregado_cpfmf -->
<div class="form-control">
    <label for="agregado_cpfmf_{{index}}">CPF/MF</label>
    <input id="agregado_cpfmf_{{index}}" name="agregado_cpfmf[]" type="text" placeholder="000000000"
        ng-model="FormDataAgregado.agregado_cpfmf">
</div>

<!-- Sexo #agregado_sexo -->
<div class="form-control">
    <label for="agregado_sexo_{{index}}">Sexo</label>
    <select id="agregado_sexo_{{index}}" name="agregado_sexo[]" type="text"
           ng-model="FormDataAgregado.agregado_sexo">
        <option value="f">Feminino</option>
        <option value="m">Masculino</option>
    </select>
</div>

<!-- Vínculo #agregado_vinculoparentesco -->
<div class="form-control">
    <label for="agregado_vinculoparentesco_{{index}}">Vínculo</label>
    <input id="agregado_vinculoparentesco_{{index}}" name="agregado_vinculoparentesco[]" type="text" placeholder="000000000"
        ng-model="FormDataAgregado.agregado_vinculoparentesco">
</div>

<!-- Nome da mãe/pai  #agregado_filiacao -->
<div class="form-control">
    <label for="agregado_filiacao_{{index}}">Nome da Mãe/Pai</label>
    <input id="agregado_filiacao_{{index}}" name="agregado_nome[]" type="text" 
        ng-model="FormDataAgregado.agregado_filiacao">
</div>

<!-- Data de Nascimento #agregado_datanasc -->
<div class="form-control">
    <label for="agregado_datanasc_{{index}}">Data de Nascimento</label>
    <input id="agregado_datanasc_{{index}}" name="agregado_datanasc[]" type="date" maxlength="8" 
        ng-model="FormDataAgregado.agregado_datanasc">
</div>

<!-- Cartão nacional de saúde #agregado_cns -->
<div class="form-control">
    <label for="agregado_cns_{{index}}">Cartão nacional de saúde</label>
    <input id="agregado_cns_{{index}}" name="agregado_cns[]" type="text" 
        ng-model="FormDataAgregado.agregado_cns">
</div>