<!-- Nome #titular_nome -->
<div id="bloco_titular_nome" class="bloco bloco-info">
	{{FormDataTitular.titular_nome}}
</div>

<!-- Data de Nascimento #titular_datanasc -->
<div id="bloco_titular_datanasc" class="bloco bloco-espaco">
	{{FormDataTitular.titular_datanasc | date : 'ddMMyy'}}
</div>

<!-- Sexo #titular_sexo -->
<div id="bloco_titular_sexo" class="bloco bloco-info">
	{{FormDataTitular.titular_sexo}}
</div>

<!-- Naturalidade #titular_naturalidade -->
<div id="bloco_titular_naturalidade" class="bloco bloco-info">
	{{FormDataTitular.titular_naturalidade}}
</div>

<!-- Situação do titular #titular_situacao -->
<div id="bloco_titular_situacao" class="bloco bloco-select">
	<div class="bloco-option" ng-class="{active: FormDataTitular.titular_situacao == 'servidor_ativo'}"></div>
	<div class="bloco-option" ng-class="{active: FormDataTitular.titular_situacao == 'aposentado'}"></div>
	<div class="bloco-option" ng-class="{active: FormDataTitular.titular_situacao == 'pensionista'}"></div>
</div>

<!-- Identidade #titular_identidade #titular_identidade_oe-->
<div id="bloco_titular_identidade" class="bloco bloco-info">
	{{FormDataTitular.titular_identidade}}
	<span ng-show="angular.isObject(FormDataTitular.titular_identidade_oe)">/</span>
	{{FormDataTitular.titular_identidade_oe}}
</div>

<!-- CPF/MF #titular_cpfmf -->
<div id="bloco_titular_cpfmf" class="bloco bloco-info">
	{{FormDataTitular.titular_cpfmf}}
</div>

<!-- PIS/PASEP #titular_pispasep -->
<div id="bloco_titular_pispasep" class="bloco bloco-info">
	{{FormDataTitular.titular_pispasep}}
</div>

<!-- Cartão nacional de saúde #titular_cns -->
<div id="bloco_titular_cns" class="bloco bloco-info">
	{{FormDataTitular.titular_cns}}
</div>

<!-- Cargo/Função #titular_cargo -->
<div id="bloco_titular_cargo" class="bloco bloco-info">
	{{FormDataTitular.titular_cargo}}
</div>

<!-- Data de adissão #titular_dataadmissao -->
<div id="bloco_titular_dataadmissao" class="bloco  bloco-espaco">
	{{FormDataTitular.titular_dataadmissao | date : 'ddMMyy'}}
</div>

<!-- Secretaria #titular_secretaria -->
<div id="bloco_titular_secretaria" class="bloco bloco-info">
	{{FormDataTitular.titular_secretaria}}
</div>

<!-- Matrícula #titular_matricula -->
<div id="bloco_titular_matricula" class="bloco bloco-info">
	{{FormDataTitular.titular_matricula}}
</div>

<!-- Estado Civil #titular_estadocivil -->
<div id="bloco_titular_estadocivil" class="bloco bloco-info">
	{{FormDataTitular.titular_estadocivil}}
</div>

<!-- Endereço residêncial (Logradouro) #titular_end_logradouro -->
<div id="bloco_titular_end_logradouro" class="bloco bloco-info">
	{{FormDataTitular.titular_end_logradouro}}
</div>

<!-- Número #titular_end_numero -->
<div id="bloco_titular_end_numero" class="bloco bloco-info">
	{{FormDataTitular.titular_end_numero}}
</div>

<!-- Bairro #titular_end_bairro -->
<div id="bloco_titular_end_bairro" class="bloco bloco-info">
	{{FormDataTitular.titular_end_bairro}}
</div>

<!-- Município #titular_end_municipio -->
<div id="bloco_titular_end_municipio" class="bloco bloco-info">
	{{FormDataTitular.titular_end_municipio}}
</div>

<!-- CEP #titular_end_cep -->
<div id="bloco_titular_end_cep" class="bloco bloco-espaco">
	{{FormDataTitular.titular_end_cep}}
</div>

<!-- Telefone do Trabalho #titular_tel_trabalho -->
<div id="bloco_titular_tel_trabalho" class="bloco bloco-espaco">
	{{FormDataTitular.titular_tel_trabalho}}
</div>

<!-- Telefone Residêncial #titular_tel_residencia -->
<div id="bloco_titular_tel_residencia" class="bloco bloco-espaco">
	{{FormDataTitular.titular_tel_residencia}}
</div>

<!-- Celular #titular_celular -->
<div id="bloco_titular_celular" class="bloco bloco-espaco">
	{{FormDataTitular.titular_celular}}
</div>

<!-- E-mail #titular_email -->
<div id="bloco_titular_email" class="bloco bloco-info">
	{{FormDataTitular.titular_email}}
</div>

<!-- Banco #titular_banco_nome -->
<div id="bloco_titular_banco_nome" class="bloco bloco-info">
	{{FormDataTitular.titular_banco_nome}}
</div>

<!-- Agência #titular_banco_agencia -->
<div id="bloco_titular_banco_agencia" class="bloco bloco-espaco">
	{{FormDataTitular.titular_banco_agencia}}
</div>

<!-- Conta corrente #titular_banco_cc -->
<div id="bloco_titular_banco_cc" class="bloco bloco-espaco">
	{{FormDataTitular.titular_banco_cc}}
</div>




<div class="list-agregado">
	<div class="bloco-agregado" ng-repeat="agregado in agregados">

		<!-- Nome do Dependente/Agregado  #agregado_nome -->
		<div id="bloco_agregado_nome_{{$index}}" class="bloco bloco-info agregado-nome">
			{{agregado.FormDataAgregado.agregado_nome}}
		</div>
		<!-- CPF/MF #agregado_cpfmf -->
		<div id="bloco_agregado_cpfmf_{{$index}}" class="bloco bloco-info agregado-cpfmf">
			{{agregado.FormDataAgregado.agregado_cpfmf}}
		</div>
		<!-- Sexo #agregado_sexo -->
		<div id="bloco_agregado_sexo_{{$index}}" class="bloco bloco-info agregado-sexo">
			{{agregado.FormDataAgregado.agregado_sexo}}
		</div>
		<!-- Vínculo #agregado_vinculoparentesco -->
		<div id="bloco_agregado_vinculoparentesco_{{$index}}" class="bloco bloco-info agregado-vinculoparentesco">
			{{agregado.FormDataAgregado.agregado_vinculoparentesco}}
		</div>
		<!-- Nome da mãe/pai  #agregado_filiacao -->
		<div id="bloco_agregado_filiacao_{{$index}}" class="bloco bloco-info agregado-filiacao">
			{{agregado.FormDataAgregado.agregado_filiacao}}
		</div>
		<!-- Data de Nascimento #agregado_datanasc -->
		<div id="bloco_agregado_datanasc_{{$index}}" class="bloco bloco-espaco agregado-datanasc">
			{{agregado.FormDataAgregado.agregado_datanasc | date : 'ddMMyy'}}
		</div>
		<!-- Cartão nacional de saúde #agregado_cns -->
		<div id="bloco_agregado_cns_{{$index}}" class="bloco bloco-info agregado-cns">
			{{agregado.FormDataAgregado.agregado_cns}}
		</div>

	</div>
</div>


<div class="list-beneficio">

	<div class="bloco-beneficio">
		<!--  #bloco_beneficio_ps_titular -->
		<div id="bloco_beneficio_ps_titular" class="bloco bloco-info bloco-ps">
			<span ng-show="FormDataBeneficio.titular_ps">Sim</span>
			<span ng-hide="FormDataBeneficio.titular_ps">Não</span>
		</div>
		<!--  #bloco_beneficio_po_titular -->
		<div id="bloco_beneficio_po_titular" class="bloco bloco-info bloco-po">
			<span ng-show="FormDataBeneficio.titular_po">Sim</span>
			<span ng-hide="FormDataBeneficio.titular_po">Não</span>
		</div>
	</div>

	<!-- Agregados -->
	<div ng-repeat="agregado in agregados" class="bloco-beneficio">

		<!--  #bloco_beneficio_ps_agregado -->
		<div id="bloco_beneficio_ps_agregado{{$index}}" class="bloco bloco-info bloco-ps">
			<span ng-show="FormDataBeneficio.agregado_ps[agregado.index]">Sim</span>
			<span ng-hide="FormDataBeneficio.agregado_ps[agregado.index]">Não</span>
		</div>
		<!--  #bloco_beneficio_po_agregado -->
		<div id="bloco_beneficio_po_titular{{$index}}" class="bloco bloco-info bloco-po">
			<span ng-show="FormDataBeneficio.agregado_po[agregado.index]">Sim</span>
			<span ng-hide="FormDataBeneficio.agregado_po[agregado.index]">Não</span>
		</div>
	</div>

	<!-- Conta corrente #titular_banco_cc -->
	<div id="bloco_beneficio_obs" class="bloco bloco-info">
		{{FormDataBeneficio.obs}}
	</div>

</div>