<h3>Informações do titular</h3>

<table class="relatorio relatorio_titular">
	<thead>
		<tr>
			<th colspan="2">{{FormDataTitular.titular_nome}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Data de Nascimento</td>
			<td>{{FormDataTitular.titular_datanasc | date : 'dd/MM/yyyy'}}</td>
		</tr>
		<tr>
			<td>Sexo</td>
			<td>
				<span ng-if="FormDataTitular.titular_sexo=='f'">Feminino</span>
				<span ng-if="FormDataTitular.titular_sexo=='m'">Masculino</span>
			</td>
		</tr>
		<tr>
			<td>Naturalidade</td>
			<td>{{FormDataTitular.titular_naturalidade}}</td>
		</tr>
		<tr>
			<td>Situação do titular</td>
			<td>
				<span ng-if="FormDataTitular.titular_situacao==='servidor_ativo'">Servidor Ativo</span>
				<span ng-if="FormDataTitular.titular_situacao==='aposentado'">Aposentado</span>
				<span ng-if="FormDataTitular.titular_situacao==='pensionista'">Pensionista</span>
			</td>
		</tr>
		<tr>
			<td>Identidade / Órgão emissor</td>
			<td>{{FormDataTitular.titular_identidade}} / {{FormDataTitular.titular_identidade_oe}}</td>
		</tr>
		<tr>
			<td>CPF/MF</td>
			<td>{{FormDataTitular.titular_cpfmf}}</td>
		</tr>
		<tr>
			<td>PIS/PASEP</td>
			<td>{{FormDataTitular.titular_pispasep}}</td>
		</tr>
		<tr>
			<td>Cartão nacional de saúde</td>
			<td>{{FormDataTitular.titular_cns}}</td>
		</tr>
		<tr>
			<td>Cargo/Função</td>
			<td>{{FormDataTitular.titular_cargo}}</td>
		</tr>
		<tr>

			<td>Data de admissão</td>
			<td>{{FormDataTitular.titular_dataadmissao | date : 'dd/MM/yyyy'}}</td>
		</tr>
		<tr>

			<td>Secretaria</td>
			<td>{{FormDataTitular.titular_secretaria}}</td>
		</tr>
		<tr>

			<td>Matrícula</td>
			<td>{{FormDataTitular.titular_matricula}}</td>
		</tr>
		<tr>
			<td>Estado Civil</td>
			<td ng-if="FormDataTitular.titular_estadocivil==='solteiro'">Solteiro</td>
			<td ng-if="FormDataTitular.titular_estadocivil==='casado'">Casado</td>
			<td ng-if="FormDataTitular.titular_estadocivil==='divorciado'">Divorciado</td>
		</tr>
		<tr>
			<td>Endereço residêncial</td>
			<td>{{FormDataTitular.titular_end_logradouro}}</td>
		</tr>
		<tr>
			<td>Número</td>
			<td>{{FormDataTitular.titular_end_numero}}</td>
		</tr>
		<tr>
			<td>Bairro</td>
			<td>{{FormDataTitular.titular_end_bairro}}</td>
		</tr>
		<tr>
			<td>Município</td>
			<td>{{FormDataTitular.titular_end_municipio}}</td>
		</tr>
		<tr>
			<td>CEP</td>
			<td>{{FormDataTitular.titular_end_cep}}</td>
		</tr>
		<tr>
			<td>Telefone do Trabalho</td>
			<td>{{FormDataTitular.titular_tel_trabalho}}</td>
		</tr>
		<tr>
			<td>Telefone Residêncial</td>
			<td>{{FormDataTitular.titular_tel_residencia}}</td>
		</tr>
		<tr>
			<td>Celular</td>
			<td>{{FormDataTitular.titular_celular}}</td>
		</tr>
		<tr>
			<td>E-mail</td>
			<td>{{FormDataTitular.titular_email}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Benefícios</th>
		</tr>
		<tr ng-if="FormDataBeneficio.titular_ps">
			<td>Plano Saúde</td>
		</tr>
		<tr ng-if="FormDataBeneficio.titular_po">
			<td>Plano Odontológico</td>
		</tr>
	</tfoot>
</table>


<h3>Informações bancárias</h3>

<table class="relatorio relatorio_titular">
	<tbody>

		<tr>
			<td>Banco</td>
			<td>{{FormDataTitular.titular_banco_nome}}</td>
		</tr>

		<tr>
			<td>Agência</td>
			<td>{{FormDataTitular.titular_banco_agencia}}</td>
		</tr>

		<tr>
			<td>Conta corrente</td>
			<td>{{FormDataTitular.titular_banco_cc}}</td>
		</tr>
	</tbody>
</table>

<h3>Agregados</h3>

<table class="relatorio relatorio_agregado" ng-repeat="agregado in agregados">
	<thead>
		<tr>
			<th colspan="2">{{agregado.FormDataAgregado.agregado_nome}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CPF/MF</td>
			<td>{{agregado.FormDataAgregado.agregado_cpfmf}}</td>
		</tr>
		<tr>
			<td>Sexo</td>
			<td>
				<span ng-if="agregado.FormDataAgregado.agregado_sexo==='f'">Feminino</span>
				<span ng-if="agregado.FormDataAgregado.agregado_sexo==='m'">Masculino</span>
			</td>
			<tr>
				<td>Vínculo</td>
				<td>{{agregado.FormDataAgregado.agregado_vinculoparentesco}}</td>
			</tr>
			<tr>
				<td>Nome da Mãe/Pai</td>
				<td>{{agregado.FormDataAgregado.agregado_filiacao}}</td>
			</tr>
			<tr>
				<td>Data de Nascimento</td>
				<td>{{agregado.FormDataAgregado.agregado_datanasc | date : 'dd/MM/yyyy'}}</td>
			</tr>
			<tr>
				<td>Cartão nacional de saúde</td>
				<td>{{agregado.FormDataAgregado.agregado_cns}}</td>
			</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Benefícios</th>
		</tr>
		<tr ng-if="FormDataBeneficio.titular_ps">
			<td>Plano Saúde</td>
		</tr>
		<tr ng-if="FormDataBeneficio.titular_po">
			<td>Plano Odontológico</td>
		</tr>
	</tfoot>
</table>


<h3>Observação</h3>
<p>{{FormDataBeneficio.obs}}</p>

