<section class="autorizacao bloco-termo">
	<h3>Autorização de Débito e Responsabilidade Financeira</h3>
	<p>
		Autorizo o desconto dos valores de custei, coparticipações e demais despesas dos outros benefícios contratados, em folha de pagamento e/ou conta corrente bancária ou ainda boletos bancários, cujos dados se encontram informados nesta proposta de Filiação e de responsabilidade Financeira, responsabilizando-me por todo e qualquer débito decorrente de despesas efetuadas indevidamente por mim e meus dependentes, cobradas pela UNIMED Jí-Paraná Cooperativa de trabalho Médico e pela Dental Norte em desfavor da ASPER, desde que devidamente comprovadas.
	</p>
</section>

<section class="declaracao bloco-termo">

	<h3>Declaração de ciência e outras cláusulas contratuais</h3>
	<ol>

		<li>Declaro ESTAR CIENTE e de acordo quanto aos teores dos contratos celebrados entre a ASPER e UNIMED JI-PARANÁ e DENTAL NORTE, especialmente quanto aos benefícios dos Planos de saúde e odontológico, disponibilizados no sítio da ASPER, a cujos termos adiro, comprometendo-me a cumprir rigorosamente as cláusulas e condições neles inseridas;</li>
		<li>Declaro ESTAR CIENTE que os Planos de Assistência à Saúde UNIMED Ji-Paraná (registro ANS nº 347507), e Odontológico Dental Norte (registro ANS nº 417181), oferecidos por meio da ASPER, são Coletivos por adesão, abrangência Estadual, coparticipativo, com rateio, com valor variável de custeio e com acomodação somente em enfermaria/coletivo;</li>
		<li>Declaro ESTAR CIENTE que os pedidos de inclusão e exclusão de associados (titular e/ou dependentes/agregados) poderão ser feitos SOMENTE pelo titular ou procurador (procuração por instrumento público, ou por instrumento particular com firma reconhecida), e deverão ser feitos por escrito diretamente à ASPER em requerimento padrão e disponibilizado pela ASPER, que se encarregará de verificar as condições de elegibilidade e/ou documentos necessários para remessa à UNIMED Ji-Paraná – Cooperativa de trabalho Médico, para cadastro e emissão do cartão de associados, sendo que o pedido de inclusão somente será deferido se o Associado estiver quite com todas suas obrigações;</li>
		<li>Declaro ESTAR CIENTE que o reajuste dos valores do custeio e/ou rateio serão de acordo com estudo atuarial apresentado pela ASPER, baseados nos custos e faturas geradas mensalmente em razão da utilização dos benefícios ofertados pela ASPER;</li>
		<li>Declaro ESTAR CIENTE que, em caso de atraso no pagamento das obrigações financeiras (custeio e coparticipações), os valores em débito serão atualizados monetariamente com juros de 1% (um por cento) ao mês e multa de mora de 1% (um por cento), outras despesas e custas processuais, e honorários advocatícios;</li>
		<li>Declaro ESTAR CIENTE que a filiação e os benefícios serão suspensos e/ou cancelados pelo não pagamento de quaisquer das obrigações financeiras (custeio e/ou coparticipações), contribuições (integral ou parcial), e/ou quaisquer outros débitos, com atraso por um período superior a 60 (sessenta) dias, consecutivos ou não, nos últimos doze meses de vigência da adesão, desde que o associado seja comprovadamente notificado, concedendo-se-lhe o prazo de 10 (dez) dias para regularizar a pendência, sem prejuízo de posterior cobrança, administrativa ou judicial;</li>
		<li>Declaro ESTAR CIENTE que a tolerância quanto à mantença do Plano de Saúde após 60 dias de atraso não acarretará novação, e que, posteriormente, persistindo o inadimplemento, a ASPER poderá notificar-me para fins de rescisão, desde que me seja concedido o prazo de 10 (dez) dias para regularizar a pendência;</li>
		<li>Sem prejuízo da suspensão e/ou cancelamento dos Planos de Saúde e Odontológico, e visando a cobrança do débito existente (custeio e coparticipações), a ASPER fica previamente autorizada a emitir duplicata contra o associado inadimplente, sujeita a protesto e comunicação aos órgãos de proteção ao crédito, e/ou promover a cobrança por outros meios, a critério exclusivo da ASPER;</li>
		<li>Declaro ESTAR CIENTE que é de MINHA INTEIRA responsabilidade manter atualizado o meu endereço de correspondência, comunicando prontamente à ASPER eventuais mudanças, sob pena de se considerar válidos o envio de boletos, comunicações e/ou notificações pelo endereço então existente nas informações cadastrais, não sendo futuramente admitidas alegações quanto ao não recebimento de documentos despachados via postal;</li>
		<li>Autorizo que, na hipótese de impossibilidade de não haver margem suficiente para desconto em folha de pagamento e/ou de débito em conta corrente, seja emitido o boleto correspondente ao saldo devedor, comprometendo-me a pagá-lo no prazo estipulado nesse mesmo boleto.</li>
		<li>Declaro ESTAR CIENTE que o Auxilio Funeral é SOMENTE para o titular adimplente e com mais de 12 meses de adesão;</li>
		<li>Declaro ESTAR CIENTE que a ASPER atua apenas como contratante de Plano de Assistência à Saúde comercializado pela UNIMED Ji-Paraná – Cooperativa de Trabalho Médico, e do Plano Odontológico comercializado pela Dental Norte - Assistência Odontológico, sendo responsável pela movimentação dos associados, pela cobrança e captação dos recursos, seja por meio de consignações em folha de pagamento, por débito em conta do associado e/ou por emissão de boleto bancário, etc., e também pelo pagamento das faturas mensais, porém, não tem responsabilidade direta pelas prestações de serviços cobertos pelos planos;</li>
		<li>Declaro AUTORIZAR a administração da ASPER a emitir outras normas e/ou resoluções para melhor atendimento do associado, desde que aprovadas por Assembleia Geral especialmente convocada para essa finalidade;</li>
		<li>ELEIÇÃO DE FORO: Fica eleito o foro da Comarca de Porto Velho para dirimir eventuais dúvidas surgidas na interpretação e/ou execução contratual, renunciando a qualquer outro, por mais privilegiado que já.</li>
		<li>Declaro estar ciente que esta proposta seguirá para análise e que minha efetivação para utilização dos benefícios dar-se-á 30 (trinta) dias após o primeiro pagamento, observadas as carências legais, das quais tenho conhecimento;</li>
		<li>Declaro ter recebido a cópia da Proposta de Filiação e de Adesão, e da Carta de orientação aos beneficiários da ANS.</li>

	</ol>
</section>
