*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Space out content a bit */

html,
body {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
	font-family: $font-family;
	font-size: $size-base-text;
	line-height: 1.25em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}


#printPanel{
    display: none;
}

#mainHeader {
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	height: 3rem;
	text-align: center;
	width: 100%;
	height: 3rem;
	background-color: #fff;
}
#mainHeader h1 {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	line-height: 3rem;
}
#mainHeader .logo{
	display: inline-block;
	min-width: 9.3rem;
	line-height: 3rem;
	text-indent: -300rem;
	font-size: 1.5rem;
	background-image: url(../images/logo_asper.png);
	background-repeat: no-repeat;
	background-position: center center;
}



#mainPanel {
	z-index: 10;
	margin: 6rem 0 0 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}


#mainNav {
	position: fixed;
	top:3rem;
	left: 0;
	width: 100%;
	min-height: 3rem;
	line-height: 3rem;
	background-color: #fff;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-color: #f7f7f7;
	z-index: 99;
}
#mainNav .menu{
	height: 3rem;
	width:50%;
	float:left;
}
#mainNav ul {
	margin: 0;
	padding: 0;
}
#mainNav li {
	display: block;
	float:left;
	line-height: 3rem;
	padding: 0 1rem;
	text-decoration: none;
	color: #bbb;
	border: none;
}
#mainNav li span {
	display: none;
}
#mainNav .badge {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-style: normal;
	border: none;
	border-radius: 50%;
	background-color: #fff;
}
#mainNav .active {
	color: #3f6ea1;
	font-weight: bold;
}
#mainNav .active .badge {
	color: #fff;
	background-color: #3f6ea1;
}
#mainNav .atual span{
	display: inline-block;
}
#mainMenu li{
	float: right;
}




#mainContent {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fefefe;
}
#mainContent header {
	font-size: 1.2rem;
	line-height: 1.5em;
}
#mainContent header h2 {
	margin: 0;
	color: #666;
}




#mainFooter {
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
#mainFooter a {
	color: #3f6ea1;
	text-decoration: none;
}
#mainFooter a:hover,
#mainFooter a:visited {
	color: #3f6ea1;
	text-decoration: none;
}


.panel {
	display: block;
	float: left;
	width: 100%;
	padding: 0 1rem;
}
.panel header {
	margin: 0 -1rem;
	padding: 0 1rem;
	background-color: #f7f7f7;
}
.panel header h2 {
	height: 50px;
	line-height: 50px;
	font-size: 1.2rem;
}
.panel h3 {
	margin: 2rem 0;
	text-transform: uppercase;
	color: #3f6ea1;
}



/**
 Formulários
*/
.form {} .form .form-control {
	padding: .5rem 0;
}
.form label {
	display: block;
	padding: .2rem 0;
	color: #666;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="email"],
.form textarea,
.form select {
	display: block;
	width: 100%;
	padding: .5em;
	border: .01rem solid #ddd;
	box-shadow: 0 0 3px #bbb;
	resize: none;
}




.table {
	width: 100%;
	margin-bottom: 2rem;
}
.table tr {} .table th:first-child {
	text-align: left;
}
.table th {
	line-height: 2rem;
	border-bottom: 0.1rem solid #ddd;
}
.table td:first-child {
	text-align: left;
	;
}
.table td {
	line-height: 2rem;
	border-bottom: 0.1rem solid #ddd;
	text-align: center;
}
.table tfoot th {
	font-size: 0.8rem;
	font-weight: normal;
	font-style: italic;
}




#btAdicionarDependente {
	display: block;
	border: none;
	line-height: 50px;
	width: 100%;
	color: #fff;
	background-color: #3f6ea1;
}




.panel-nav {
	padding: 2rem;
	clear: both;
	overflow: hidden;
}
.panel-nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.panel-nav li {
	float: left;
	min-height: 3.25rem;
	min-width: 33.33%;
}
.panel-nav li:nth-child(2) {
	text-align: center;
}
.panel-nav li:nth-child(3) {
	text-align: right;
}




.btn {
	display: inline-block;
	padding: .5rem 1rem;
	line-height: 2rem;
	background-color: transparent;
	border: none;
}
.btn-secnav {
	min-width: 100%;
	;
	border-radius: 0.3rem;
	color: #666;
	background-color: #ddd;
}
.btn-concordar {
	color: #fff;
	background-color: #3f6ea1;
}




#termosLegais {
	text-align: justify;
	line-height: 1.5rem;
}
#termosLegais ol {} #termosLegais ol li {
	padding-bottom: 1rem;
}




.relatorio {
	position: relative;
	width: 100%;
}
.relatorio h3 {} .relatorio th {
	text-align: left;
}
.relatorio td {
	padding: 0 0.3em;
	line-height: 1.5em;
	border-bottom: 1px solid #e5e5e5;
}
.relatorio tbody td:nth-child(1) {
	width: 30%;
	color: #999;
}
.relatorio tbody td:nth-child(2) {
	width: 70%;
	color: #333;
}
.relatorio tfoot td {
	color: #3f6ea1;
}




.alert{
	margin: 1rem 0;
	padding: 1rem;
	text-align: justify;
	border-radius: 3px;
	background-color:#fff8f8;
}
.alert h2{
	color: #c37777;
}



.wrapper{
	display: block;
	overflow: hidden;
	min-height: 3rem;
	max-width: 60rem;
	margin:0 auto;
}

@media screen {
	html {
		background-image: url(../images/textures/bright_squares.png);
		background-image: url(../images/textures/gplaypattern.png);
	}
}
/** 
 * 640px
 */

@media screen and (min-width: 40rem) {
	body {
		margin: 0 auto;
	}
	
	#mainContent {
		margin: 0 auto;
	}
}
/** 
 * 960px
 */

@media screen and (min-width: 60rem) {
	body {
		max-width: 60rem;
		margin: 0 auto;
	}
}