@media print {

	#mainPanel,
	#mainHeader,
	#mainNav,
	#mainFooter {
		display: none;
	}
	#printPanel {
		display: block;
	}
	.page {
		position: relative;
		min-height: 29.7cm;
		min-width: 21cm;
		background-position: top left;
		background-repeat: no-repeat;
		page-break-after: always;
	}
	.page-content {
		position: absolute;
		width: inherit;
		top: 0;
		left: 0;
		margin: 0 auto;
		z-index: 100;
	}
	.page-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.page-background img{
		width: 100%;
		height: 100%;
	}
	.page-front {
		margin: 0;
		padding: 0;
		
	}
	.page-back {
		padding: 0.83cm 1cm;
		font-size: 10pt;
	}
	/**
     * Desvio x: 0,18cm;
     * Desvio y: 0,14cm;
     */
	.bloco {
		position: absolute;
		left: 1.14cm;
		min-height: 3mm;
		min-width: 1em;
		padding: 0;
		margin: 0;
		font-size: 9pt;
		text-transform: uppercase;
	}
	.bloco-info{
		display: block;
		min-width: 4cm;
	}
	.bloco-espaco {
		text-indent: 2pt;
		letter-spacing: 0.23cm;
	}
	.bloco-select {
		position: relative;
	}
	.bloco-option {
		position: absolute;
		min-height: 3mm;
		width: 1em;
	}
	.bloco-option.active {
		background-color: #000;
	}
	.list-agregado {
		position: absolute;
		top: 14.8cm;
		left: 1cm;
		min-height: 10cm;
		min-width: 100%;
	}
	.bloco-agregado {
		position: relative;
		min-height: 1.98cm;
		min-width: 100%;
	}
	.bloco-agregado .agregado-nome {
		top: 0.27cm;
		left: 1cm;
		width:9cm;
	}
	.bloco-agregado .agregado-cpfmf {
		top: 0.27cm;
		left: 10.8cm
	}
	.bloco-agregado .agregado-sexo {
		top: 0.27cm;
		left: 15cm;
	}
	.bloco-agregado .agregado-vinculoparentesco {
		top: 0.27cm;
		left: 15.9cm;
	}
	.bloco-agregado .agregado-filiacao {
		top: 1.21cm;
		left: 0.2cm;
		width: 10cm;
	}
	.bloco-agregado .agregado-datanasc {
		top: 1.21cm;
		left: 10.8cm;
	}
	.bloco-agregado .agregado-cns {
		top: 1.21cm;
		left: 13.6cm;
	}
	.list-beneficio {
		position: absolute;
		top: 26.7cm;
		left: 1cm;
		min-height: 3.5cm;
		min-width: 100%;
	}
	.bloco-beneficio {
		position: absolute;
		min-height: 2.5cm;
		min-width: 1.5cm;
	}
	.bloco-beneficio .bloco {
		min-height: 0.5cm;
		min-width: 1.5cm;
		text-align: center;
		left: 0;
	}
	.bloco-ps {
		top: 0.4cm;
	}
	.bloco-po {
		top: 1.7cm;
	}
	#bloco_beneficio_obs {
		left: 01cm;
		top: 2.7cm;
	}
	.list-beneficio .bloco-beneficio:nth-child(1) {
		left: 8.5cm;
	}
	.list-beneficio .bloco-beneficio:nth-child(2) {
		left: 10.46cm;
	}
	.list-beneficio .bloco-beneficio:nth-child(3) {
		left: 12.45cm;
	}
	.list-beneficio .bloco-beneficio:nth-child(4) {
		left: 14.43cm;
	}
	.list-beneficio .bloco-beneficio:nth-child(5) {
		left: 16.4cm;
	}
	.list-beneficio .bloco-beneficio:nth-child(6) {
		left: 18.33cm;
	}

	.bloco-termo {
		position: absolute;
		left:1.25cm;
		width:19.5cm;
		padding: 0;
		margin: 0;
		text-align: justify;
	}
	.bloco-termo h3{
		display:none;
	}
	.autorizacao{
		top:1cm;
	}
	.declaracao{
		top:4.6cm;
	}
	.declaracao ol{

		list-style-position: outside;
		padding: 0 0 0 0.5cm;
		line-height: 1.15em;
	}
	.declaracao li:before{
		font-weight: bold;
	}

	/**
	 * Campos do titular
	 */
	#bloco_titular_nome {
		top: 5.83cm;
		width: 18cm;
	}
	#bloco_titular_datanasc {
		top: 6.83cm
	}
	#bloco_titular_sexo {
		top: 6.83cm;
		left: 3.9cm;
	}
	#bloco_titular_naturalidade {
		top: 6.83cm;
		left: 5.35cm;
		width: 8cm;
	}
	#bloco_titular_situacao {
		top: 6.85cm;
		left: 13.95cm;
	}
	#bloco_titular_situacao .bloco-option:nth-child(1) {
		left: 0cm;
	}
	#bloco_titular_situacao .bloco-option:nth-child(2) {
		left: 2.6cm;
	}
	#bloco_titular_situacao .bloco-option:nth-child(3) {
		left: 4.9cm;
	}
	#bloco_titular_identidade {
		top: 7.8cm;
	}
	#bloco_titular_cpfmf {
		top: 7.8cm;
		left: 5.4cm;
	}
	#bloco_titular_pispasep {
		top: 7.8cm;
		left: 10.3cm;
	}
	#bloco_titular_cns {
		top: 7.8cm;
		left: 14.6cm;
	}
	#bloco_titular_cargo {
		top: 8.8cm;
	}
	#bloco_titular_dataadmissao {
		top: 8.8cm;
		left: 6cm;
	}
	#bloco_titular_secretaria {
		top: 8.8cm;
		left: 8.8cm;
	}
	#bloco_titular_matricula {
		top: 8.8cm;
		left: 13.7cm;
	}
	#bloco_titular_estadocivil {
		top: 8.8cm;
		left: 18.2cm;
	}
	#bloco_titular_end_logradouro {
		top: 9.7cm;
	}
	#bloco_titular_end_numero {
		top: 9.7cm;
		left: 19.2cm;
	}
	#bloco_titular_end_bairro {
		top: 10.8cm;
	}
	#bloco_titular_end_municipio {
		top: 10.8cm;
		left: 9.5cm;
	}
	#bloco_titular_end_cep {
		top: 10.8cm;
		left: 17.6cm;
	}
	#bloco_titular_tel_trabalho {
		top: 11.78cm;
	}
	#bloco_titular_tel_residencia {
		top: 11.78cm;
		left: 4.69cm;
	}
	#bloco_titular_celular {
		top: 11.78cm;
		left: 8.2cm;
	}
	#bloco_titular_email {
		top: 11.7cm;
		left: 11.8cm;
	}
	#bloco_titular_banco_nome {
		top: 13.4cm;
	}
	#bloco_titular_banco_agencia {
		top: 13.4cm;
		left: 13.6cm;
	}
	#bloco_titular_banco_cc {
		top: 13.4cm;
		left: 17.2cm;
	}
}